div.issues{
text-align:center;
border:2px solid #ffe372;
padding:10px 17px; 
background:#ce1010;
width:350px;
border-radius:7px;
-moz-border-radius:7px; /* 老的 Firefox */
}
div.solve{
text-align:center;
border:2px solid #ffe372;
padding:10px 17px; 
background:#42f760;
width:350px;
border-radius:7px;
-moz-border-radius:7px; /* 老的 Firefox */
}
